body{
   background-color: #ff6f72;

}

img .mobile-bg {
    opacity: 90%;
}

h4  {
    color: white;
    font-size: 30px;
}

.top-p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.68);
}

.btn-top {
    box-shadow: 0px 7px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}
.btn {
    border: none;
    box-shadow: 0px 3px rgb(12, 183, 124);
    padding: 15px;
    font-size: 14px;
}

.card {
    border-radius: 20px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.36);
}